@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


/* // outfit font will be apply here to all the text */
*{
  font-family: outfit;
}

.placeholder-color{
  color: #e0e0e0;
  font-weight: 300;
}